In [1]:
import pandas as pd
import numpy as np

In [2]:
rating_df = pd.read_csv( "CF_Input5.csv")

In [3]:
rating_df.head()

         user   item  rating
0  USER_00001  IT_01       5
1  USER_00001  IT_02       4
2  USER_00001  IT_03       5
3  USER_00001  IT_04       5
4  USER_00001  IT_06       3

In [4]:
#Finding User Similarities

from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [5]:
#User_item Metrics

user_items_df = rating_df.pivot( index='user', columns='item', values = "rating" ).reset_index(drop=True)

#Fill '0' for ratings not given by users

user_items_df.fillna( 0, inplace = True )

user_items_df.head()

item,IT_01,IT_02,IT_03,IT_04,IT_05,IT_06,IT_07,IT_08,IT_09,IT_10,IT_11,IT_12,IT_13,IT_14,IT_15
0,5.0,4.0,5.0,5.0,0.0,3.0,1.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,2.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,5.0,4.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,5.0,1.0,0.0,4.0,0.0
4,0.0,5.0,0.0,5.0,0.0,3.0,0.0,0.0,4.0,0.0,4.0,0.0,5.0,0.0,0.0

In [6]:
#item_user Metrics

item_user_df = rating_df.pivot( index='item', columns='user', values = "rating" ).reset_index(drop=True)

#Fill '0' for ratings not given by users

item_user_df.fillna( 0, inplace = True )

item_user_df.head()

user,USER_00001,USER_00002,USER_00003,USER_00004,USER_00005,USER_00006,USER_00007,USER_00008,USER_00009,USER_00010,...,USER_09991,USER_09992,USER_09993,USER_09994,USER_09995,USER_09996,USER_09997,USER_09998,USER_09999,USER_10000
0,5.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,3.0,1.0,0.0,3.0,0.0,0.0,0.0
1,4.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0
2,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0
3,5.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,3.0,5.0,2.0,0.0,0.0,4.0,4.0,0.0,0.0

In [7]:
usernames = item_user_df.columns

In [9]:
usernames

Index(['USER_00001', 'USER_00002', 'USER_00003', 'USER_00004', 'USER_00005',
       'USER_00006', 'USER_00007', 'USER_00008', 'USER_00009', 'USER_00010',
       ...
       'USER_09991', 'USER_09992', 'USER_09993', 'USER_09994', 'USER_09995',
       'USER_09996', 'USER_09997', 'USER_09998', 'USER_09999', 'USER_10000'],
      dtype='object', name='user', length=10000)

In [8]:
itemnames = user_items_df.columns

In [10]:
itemnames

Index(['IT_01', 'IT_02', 'IT_03', 'IT_04', 'IT_05', 'IT_06', 'IT_07', 'IT_08',
       'IT_09', 'IT_10', 'IT_11', 'IT_12', 'IT_13', 'IT_14', 'IT_15'],
      dtype='object', name='item')

In [11]:
user_sim = 1 - pairwise_distances( user_items_df.as_matrix(), metric= 'cosine')

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [14]:
user_sim

array([[1.        , 0.18080493, 0.60710874, ..., 0.25019095, 0.10566113,
        0.07225916],
       [0.18080493, 1.        , 0.27373458, ..., 0.22561334, 0.2540839 ,
        0.        ],
       [0.60710874, 0.27373458, 1.        , ..., 0.        , 0.02539184,
        0.24310832],
       ...,
       [0.25019095, 0.22561334, 0.        , ..., 1.        , 0.25113686,
        0.06011131],
       [0.10566113, 0.2540839 , 0.02539184, ..., 0.25113686, 1.        ,
        0.34815531],
       [0.07225916, 0.        , 0.24310832, ..., 0.06011131, 0.34815531,
        1.        ]])

In [15]:
user_sim_df = pd.DataFrame( user_sim, index= usernames, columns=usernames)

In [16]:
user_sim_df.head()

user,USER_00001,USER_00002,USER_00003,USER_00004,USER_00005,USER_00006,USER_00007,USER_00008,USER_00009,USER_00010,...,USER_09991,USER_09992,USER_09993,USER_09994,USER_09995,USER_09996,USER_09997,USER_09998,USER_09999,USER_10000
user,,,,,,,,,,,,,,,,,,,,,
USER_00001,1.000000,0.180805,0.607109,0.427024,0.563564,0.246977,0.106199,0.299209,0.338664,0.327833,...,0.287129,0.051016,0.366800,0.554605,0.176998,0.342196,0.330875,0.250191,0.105661,0.072259
USER_00002,0.180805,1.000000,0.273735,0.000000,0.174241,0.371192,0.255377,0.359755,0.678657,0.437968,...,0.000000,0.368037,0.226166,0.177822,0.000000,0.595880,0.205331,0.225613,0.254084,0.000000
USER_00003,0.607109,0.273735,1.000000,0.058640,0.311494,0.207732,0.059549,0.078645,0.094950,0.122551,...,0.386406,0.028606,0.537924,0.466478,0.119098,0.258046,0.000000,0.000000,0.025392,0.243108
USER_00004,0.427024,0.000000,0.058640,1.000000,0.335936,0.596380,0.164122,0.249265,0.196267,0.281467,...,0.212993,0.000000,0.359738,0.321412,0.533396,0.451335,0.432991,0.280926,0.279927,0.603023
USER_00005,0.563564,0.174241,0.311494,0.335936,1.000000,0.396684,0.492764,0.200240,0.181316,0.390038,...,0.553409,0.418805,0.201415,0.000000,0.189525,0.366414,0.457150,0.611141,0.048488,0.061898

In [17]:
item_sim = 1 - pairwise_distances( item_user_df.as_matrix(), metric= 'cosine')

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [18]:
item_sim_df = pd.DataFrame( item_sim, index= itemnames, columns=itemnames )

In [19]:
item_sim_df.head()

item,IT_01,IT_02,IT_03,IT_04,IT_05,IT_06,IT_07,IT_08,IT_09,IT_10,IT_11,IT_12,IT_13,IT_14,IT_15
item,,,,,,,,,,,,,,,
IT_01,1.000000,0.189970,0.199517,0.217770,0.277121,0.292277,0.244595,0.178098,0.217921,0.214733,0.244141,0.194348,0.259013,0.265924,0.207747
IT_02,0.189970,1.000000,0.183311,0.207536,0.226765,0.255824,0.225494,0.156024,0.202930,0.209154,0.195589,0.194062,0.215578,0.222524,0.182345
IT_03,0.199517,0.183311,1.000000,0.225200,0.257533,0.273293,0.241869,0.183247,0.214231,0.210518,0.223029,0.207708,0.257725,0.257821,0.191557
IT_04,0.217770,0.207536,0.225200,1.000000,0.292718,0.312737,0.264949,0.195077,0.237916,0.230988,0.252795,0.228915,0.284600,0.305494,0.211011
IT_05,0.277121,0.226765,0.257533,0.292718,1.000000,0.366743,0.286784,0.218478,0.275850,0.265165,0.288863,0.249269,0.337646,0.336949,0.252755

In [20]:
user_sim_df['USER_00001']

user
USER_00001    1.000000
USER_00002    0.180805
USER_00003    0.607109
USER_00004    0.427024
USER_00005    0.563564
USER_00006    0.246977
USER_00007    0.106199
USER_00008    0.299209
USER_00009    0.338664
USER_00010    0.327833
USER_00011    0.352117
USER_00012    0.311900
USER_00013    0.497821
USER_00014    0.135420
USER_00015    0.316983
USER_00016    0.327867
USER_00017    0.489300
USER_00018    0.150188
USER_00019    0.203199
USER_00020    0.181916
USER_00021    0.167915
USER_00022    0.486664
USER_00023    0.376431
USER_00024    0.298995
USER_00025    0.379093
USER_00026    0.458164
USER_00027    0.306331
USER_00028    0.247041
USER_00029    0.156080
USER_00030    0.497543
                ...
USER_09971    0.344723
USER_09972    0.131912
USER_09973    0.324443
USER_09974    0.178450
USER_09975    0.705914
USER_09976    0.131912
USER_09977    0.483838
USER_09978    0.000000
USER_09979    0.000000
USER_09980    0.466378
USER_09981    0.303549
USER_09982    0.401512
USER_09983    0.000000
USER_09984    0.289037
USER_09985    0.219853
USER_09986    0.449636
USER_09987    0.272087
USER_09988    0.345123
USER_09989    0.153049
USER_09990    0.243894
USER_09991    0.287129
USER_09992    0.051016
USER_09993    0.366800
USER_09994    0.554605
USER_09995    0.176998
USER_09996    0.342196
USER_09997    0.330875
USER_09998    0.250191
USER_09999    0.105661
USER_10000    0.072259
Name: USER_00001, Length: 10000, dtype: float64

In [21]:
users_df = pd.DataFrame()
users_df['similarity'] = user_sim_df['USER_00001']

In [23]:
users_df.sort_values( ["similarity"], ascending = False )[1:6]

            similarity
user
USER_07966    0.904381
USER_09739    0.872177
USER_09718    0.828951
USER_03883    0.817689
USER_09140    0.806564

In [24]:
def get_similar_users( userid, topN = 5 ):
    users_df = pd.DataFrame()
    users_df['similarity'] = user_sim_df[userid]
    top_n = users_df.sort_values( ["similarity"], ascending = False )[1:topN+1]
    print( "Top 5" + " Similar users to: " + userid + " are", )
    return top_n

In [27]:
get_similar_users('USER_00003')

Top 5 Similar users to: USER_00003 are

            similarity
user
USER_06846    0.936984
USER_08339    0.924785
USER_06495    0.922806
USER_06673    0.920939
USER_09801    0.915407

In [31]:
def get_similar_items( itemid, topN = 5 ):
    items_df = pd.DataFrame()
    items_df['similarity'] = item_sim_df[itemid]
    top_n = items_df.sort_values( ["similarity"], ascending = False )[1:topN+1]
    print( "Top 5 Similar items to: " + itemid + " are", )
    return top_n

get_similar_items( 'IT_06' )

Top 5 Similar items to: IT_06 are

       similarity
item
IT_14    0.389642
IT_13    0.387348
IT_05    0.366743
IT_07    0.351593
IT_04    0.312737